# Pano Logic Zero Client G2 Constraints File

# VCCAUX is 2.5 Volts
CONFIG VCCAUX = "2.5";

# 25 MHz System Clock
NET "SYSCLK" LOC = Y13 | IOSTANDARD = LVCMOS33;
TIMESPEC TS_CLK = PERIOD "SYSCLK" 25 MHz HIGH 50%;
NET "SYSCLK" TNM_NET = SYSCLK;

# Pano Button LED Output, Active High
NET "LED_RED" LOC = E12 | IOSTANDARD = LVCMOS33;
NET "LED_BLUE" LOC = H13 | IOSTANDARD = LVCMOS33;
NET "LED_GREEN" LOC = F13 | IOSTANDARD = LVCMOS33;
